@model FrscQuestion.Models.Entities.AccountModel
@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "User Management";
    ViewBag.PageTitle = "Override User Password";
}

@section BreadCrumb{
    <li>
        <a href="@Url.Action("Index", "AppUser")">Users</a>
    </li>
    <li>
        <a href="@Url.Action("Create", "AppUser")">Add User</a>
    </li>
}

<div class="col-md-12 m-t-50">
    @using (Html.BeginForm("ChangePassword", "AppUser", FormMethod.Post, new {@class = "", enctype = "multipart/form-data"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(m => m.AppUserId)
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Password, new {@class = "control-label"})<span class="required">*</span>
            @Html.PasswordFor(model => model.Password, new {@class = "form-control", placeholder = "Please enter the new password"})
            @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.ConfirmPassword, new {@class = "control-label"})<span class="required">*</span>
            @Html.PasswordFor(model => model.ConfirmPassword, new {@class = "form-control", placeholder = "Please confirm the new password"})
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new {@class = "text-danger"})
        </div>
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-purple waves-effect waves-light">Submit</button>
        </div>
    }
</div>