@model FrscQuestion.Models.Entities.TermAndCondition
@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "Terms & Conditions";
    ViewBag.PageTitle = "Add Terms & Conditions";
}

<div class="col-md-12 m-t-50">
    @using (Html.BeginForm("CreateTerms", "Page", FormMethod.Post, new {@class = "", enctype = "multipart/form-data"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.Text, new {@class = "control-label"})<span class="required">*</span>
            @Html.TextAreaFor(model => model.Text, new {@class = "form-control", id = "elm1", placeholder = "Please enter the privacy policy"})
            @Html.ValidationMessageFor(model => model.Text, "", new {@class = "text-danger"})
        </div>
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-purple waves-effect waves-light">Submit</button>
        </div>
    }
</div>

@section Script
{
    <!--Wysiwig js-->
    <script src="~/plugins/tinymce/tinymce.min.js"></script>
    <script>
        $(document).ready(function() {
            if ($("#elm1").length > 0) {
                tinymce.init({
                    selector: "textarea#elm1",
                    theme: "modern",
                    height: 300,
                    plugins: [
                        "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                        "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                        "save table contextmenu directionality emoticons template paste textcolor"
                    ],
                    toolbar:
                        "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons",
                    style_formats: [
                        { title: 'Bold text', inline: 'b' },
                        { title: 'Red text', inline: 'span', styles: { color: '#ff0000' } },
                        { title: 'Red header', block: 'h1', styles: { color: '#ff0000' } },
                        { title: 'Example 1', inline: 'span', classes: 'example1' },
                        { title: 'Example 2', inline: 'span', classes: 'example2' },
                        { title: 'Table styles' },
                        { title: 'Table row 1', selector: 'tr', classes: 'tablerow1' }
                    ]
                });
            }
        });
    </script>
}