@model FrscQuestion.Models.Entities.AppUser
@{
    ViewBag.Title = "Update Profile Information";
}
<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="dashboard-page-head">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="page-title">
                                <h2>My Profile</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 profile-dashboard">
                    <div class="row">
                        <div class="col-md-7 dashboard-form">
                            <div class="bg-white pinside40 mb30">
                                <h3>Update Profile Information</h3>
                                @using (Html.BeginForm("EditProfile", "Account", FormMethod.Post, new {@class = "", enctype = "multipart/form-data"}))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                                    @Html.HiddenFor(m => m.AppUserId)
                                    @Html.HiddenFor(m => m.Email)
                                    @Html.HiddenFor(m => m.DateCreated)
                                    @Html.HiddenFor(m => m.CreatedBy)
                                    @Html.HiddenFor(m => m.ProfilePicture)
                                    @Html.HiddenFor(m => m.Status)
                                    @Html.HiddenFor(m => m.RoleId)
                                    @Html.HiddenFor(m => m.Password)
                                    @Html.HiddenFor(m => m.ConfirmPassword)
                                    @Html.HiddenFor(m => m.HasSocialMediaLogin)
                                    <div class="form-group">
                                        <label class="control-label" for="Name">Fullname<span class="required">*</span></label>
                                        @Html.TextBoxFor(m => m.Name, new {@class = "form-control input-md", placeholder = "Enter your Name"})
                                        @Html.ValidationMessageFor(m => m.Name, "", new {@class = "text-danger"})
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="Email">E-mail<span class="required">*</span></label>
                                        @Html.TextBoxFor(m => m.Email, new {@class = "form-control input-md", placeholder = "Enter your email address"})
                                        @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="Mobile">Phone Number<span class="required">*</span></label>
                                        @Html.TextBoxFor(m => m.Mobile, new {@class = "form-control input-md", placeholder = "Enter your Phone Number"})
                                        @Html.ValidationMessageFor(m => m.Mobile, "", new {@class = "text-danger"})
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="Mobile">Address<span class="required">*</span></label>
                                        @Html.TextBoxFor(m => m.Address, new {@class = "form-control input-md", placeholder = "Enter your Address"})
                                        @Html.ValidationMessageFor(m => m.Address, "", new {@class = "text-danger"})
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">Update</button>
                                }
                            </div>
                        </div>
                        <div class="col-md-5 dashboard-form">
                            <div class="bg-white pinside40 mb30">
                                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new {@class = "", enctype = "multipart/form-data"}))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                                    @Html.HiddenFor(m => m.AppUserId)
                                    @Html.HiddenFor(m => m.Email)
                                    @Html.HiddenFor(m => m.DateCreated)
                                    @Html.HiddenFor(m => m.CreatedBy)
                                    @Html.HiddenFor(m => m.ProfilePicture)
                                    @Html.HiddenFor(m => m.Status)
                                    @Html.HiddenFor(m => m.RoleId)
                                    @Html.HiddenFor(m => m.Name)
                                    @Html.HiddenFor(m => m.Mobile)
                                    @Html.HiddenFor(m => m.HasSocialMediaLogin)
                                    @Html.HiddenFor(m => m.Address)
                                    <div class="form-group">
                                        <label class="control-label" for="Name">Password<span class="required">*</span></label>
                                        @Html.PasswordFor(m => m.Password, new {@class = "form-control input-md", placeholder = "Enter your new password"})
                                        @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label" for="Email">Confirm Password<span class="required">*</span></label>
                                        @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control input-md", placeholder = "Confirm Password"})
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new {@class = "text-danger"})
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">Change Password</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>